* {
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
}


canvas {
  margin: 0px auto;
  border-radius: 15px;
  background-color: #dee5ef;
  margin-top: 30px;
}

body {
  background-color: #0a0a0a;
  background-image: url(./images/world.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.start-page {
  display: flex;
  text-align: center;
  flex-flow: column;
}

h2 {
  font-size: 80px;
  font-weight: 700;
  font-family: Helvetica;
  color:#F33737;
  margin-bottom: -15px;
  text-shadow: 11px -8px 0px black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2 a{
  text-decoration: none;
  color: white;
}

h2 a:hover {
  color: #A4A6B8;
  text-decoration: none;
}

body button {
  font-size: 25px;
  background-color: rgb(151 234 240 / 59%);
  /* color: azure; */
  font-weight: bold;
  background-size: 350px;
  background-position: center;
  color: #180098;
  padding: 15px 45px;
  border: 1;
  box-shadow: 0;
  border-radius: 15px;
  margin-bottom: 10px;
}

button:hover {
  
  background-size: 350px;
  background-position: center;
}


.virus-spinning {
  width: 50%;
  padding-bottom: 20px;
}



.instructions {
  flex-flow: column;
  width: 60%;
  padding: 0px 140px;
  border-radius: 15px;
  background-color: #084b9e85;
  margin-bottom: 10px;
}

.instructions p{
  color: white;
  font-size: 18px;
  margin-top: -20px;
  background-color: transparent;
}

.instructions h3 {
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  color: whitesmoke;
  background-color: transparent;
}
.instructions h4 {
  font-size: 18px;
  color: white;
  background-color: transparent;
}


h3 {
  font-weight: 800;
}

.red {
  width: 10%;
  padding-bottom: 8px;
}
.green {
  width: 10%;
  padding-bottom: 8px;
}

.arrows {
  width: 15%;
  padding-bottom: 10px;
}

.injection {
  width: 8%;
}

.game-start a{
  text-decoration: none;
  color: white;
}